<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h1>Create User</h1>
    <!-- html form -->
    <div style="width: 260px; border: 1px solid burlywood; padding: 15px;">
        <form action="" method="post" style="text-align: right;">
            <p>Username: <input type="text" name="username"></p>
            <p>E-mail: <input type="text" name="email"></p>
            <p>Age: <input type="text" name="age"></p>
            <p><button type="submit">sign Up</button></p>
        </form>
    </div>
</body>
</html>