{%extends 'layout.html'%}

{%block title%} Techshop {%endblock%}

{%include 'header.html'%}

{%block content%} 

<div class="container">

    <div class="row">

        <div class="col md-12">

        <div class="jumbotron p-3">

            <h2><b>Technique</b> 
                <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal"> Add New Technique</button>
            </h2>

            {% with messages = get_flashed_messages() %}
                {% if messages%}
                    {% for message in messages%}

            <div class="alert alert-success alert-dismissable" role="alert">

              <button type="button" class="close" data-dismiss="alert" aria-label="close">

                  <span aria-hidden="true">x</span>
              </button>

              {{ message }}


            </div>
            
                    {% endfor %}
                {% endif %}
            {%  endwith  %}

            


            <table class="table table-hover table-dark">

                <tr>
                    <th>ID</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>In Stock</th>
                    <th>Price</th>
                </tr>

                {%  for row in technique %}

                <tr>
                    <td>{{  row.id }}</td>
                    <td>{{  row.manufacturer }}</td>
                    <td>{{  row.model }}</td>
                    <td>{{  row.instock }}</td>
                    <td>{{  row.price }}</td>
                    <td>
                        <a href="/update/{{ row.id }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{ row.id }}">Edit</a>
                        
                        <a href="/delete/{{ row.id }}" class="btn btn-danger btn-xs"  onclick="return confirm('Are you sure to delete?')">Delete</a>
                    
                    
                    </td>
                    
                </tr>

                <div id="modaledit{{ row.id }}" class="modal fade" role="dialog">

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <h4 class="modal-title"> Update Order</h4>


                            </div>

                            <div class="modal-body">

                                <form action="{{ url_for('update') }}" method="post">


                                    <div class="form-group">

                                        <label >Manufacturer:</label>
                                        <input type="hidden" name="id" value="{{ row.id }}">
                                        <input type="text" class="form-control" name="manufacturer" value="{{ row.manufacturer }}">

                                    </div>

                                    <div class="form-group">

                                        <label >Model:</label>
                                        <input type="hidden" name="id" value="{{ row.id }}">
                                        <input type="text" class="form-control" name="model" value="{{ row.model }}">

                                    </div>

                                    <div class="form-group">

                                        <label >In Stock: </label>
                                        <!-- <input type="text" class="form-control" name="instock" value="YES"> -->
                                        <!-- <select class="form-control" name="instock">
                                            <option value="YES" style="color: rgb(0, 255, 0);"><b>YES</b></option>
                                            <option value="NO" style="color: red;"><b>NO</b></option>
                                        </select> -->

                                        <select class="form-control" name="instock">
                                            {%  set default_value = row.instock %}
                                            <option value="YES" {% if default_value == "YES" %} selected {%  endif %} style="color: rgb(0, 255, 0);"><b>YES</b></option>
                                            <option value="NO"  {% if default_value == "NO" %} selected {%  endif %}  style="color: red;"><b>NO</b></option>
                                        </select> 



                                    </div>

                                    <div class="form-group">

                                        <label >Price: </label>
                                        <input type="text" class="form-control" name="price" value="{{ row.price }}">



                                    </div>

                            
                                    <div class="form-group">

                                        <button class="btn btn-primary" type="submit">Update</button>

                                    </div>


                                </form>

                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>


                        </div>

                    </div>

                </div>

                {%  endfor %}

                </table>

        </div>

      

        <div id="mymodal" class="modal fade" role="dialog">

            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Technique</h4>
                    </div>

                    <div class="modal-body">
                        <form action="{{ url_for('insert') }}" method="post">
                            <div class="form-group">
                                <label>Manufacturer:</label>
                                <input type="text" class="form-control" name="manufacturer" required="1">
                            </div>

                            <div class="form-group">
                                <label>Model:</label>
                                <input type="text" class="form-control" name="model" required="1">
                            </div>

                            <div class="form-group">
                                <label>In Stock:</label>
                                <!-- <input type="text" class="form-control" name="instock" required="1"> -->
                                <select class="form-control" name="instock" required="1">
                                    <option value="YES" style="color:rgb(0, 255, 0);"><b>YES</b></option>
                                    <option value="NO" style="color: red;"><b>NO</b></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Price:</label>
                                <input type="text" class="form-control" name="price" required="1">
                            </div>


                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Add New Technique</button>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>

            </div>



        </div>


    </div>

</div>


</div>

{%endblock%}